.table-roomDetail{
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    margin-right: 120px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e7e7e7;
    padding: 20px; 
    border-collapse: collapse;
}

h2{
    color: #3c2020;
    font-size: 30px;
    margin-bottom: 10px;
    font-style:unset;
}

.color-star{
    color: #ff9100;
    font-size: medium;
}
.star{
    color: #c8baa9;
    font-size: medium;
}

.rating-link{
    display: inline;
    color: #cc0d0d;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

h5{
    color: #3c2020;
    font-size: 20px;
    font-weight: 150;
    margin-top: 10px;
}

.room-price-detail{
    border: 1px solid #706969;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #e9e9e9;
    margin-top: 10px;
    margin-bottom: 10px;
}
.room-price-detail h3{
    font-size: 20px;
    color: #232323;
    font-weight: 200;
}
.list-unstyled{
    width: 50%;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;

}
.list-unstyled .li{
    border: 1px  #706969;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2px;
    background-color: #c6c6c6;
    margin-top: 10px;
    margin-bottom: 10px;

}

.room-similar {
    border: 1px solid #d1d1d1;
    padding: 10px;
    background-color: #f5f3f3;
    box-shadow: 0 0 10px rgba(235, 232, 232, 0.1);
}
.room-rating{
    background: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: .9375rem;
    overflow: hidden;
    overflow: visible;
    padding: 1.5625rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.small-image {
    width: 100%;
    height: auto;
    border-radius: 3%;
    cursor: pointer;
}

.small-image:hover {
    border: 2px solid #007bff;
}